.message-input {
  display: flex;
  padding: 20px;
  align-items: center;
  border-top: 3px solid #212121;
}

.message-input-text {
  background: #212121;
  border-radius: 12px;
  resize: none;
  width: 100%;
  height: 85px;
  padding: 10px;
  border: 0;
  outline: 0;
  color: #fff;
  flex: 1;
}

.message-input-text::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #0f0f0f;
}

.message-input-text::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #555;
}

.message-input-button {
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  background-color: #212121;
  color: #8378db;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.message-input-button:hover {
  background-color: #8378db;
  color: #fff;
}

.message-input-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.message-input-cancel {
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  background-color: #212121;
  color: #8378db;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.message-input-cancel:hover {
  background-color: #8378db;
  color: #fff;
}

.message-input-container-edit button {
  width: 40px;
  height: 40px;
}

.message-input-container-edit {
  margin-left: 36px;
}